#copy from okhttp project

.classpath
.project
.settings
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties

.idea/gradle_extensions.xml
.idea/libraries/Gradle__*.xml
.idea/libraries/Maven__*.xml
.idea/shelf
.idea/usage.statistics.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
classes

obj

.DS_Store

include
*.dat

*.log

*.exe
!/sample/*.exe
!/sample/server/database/*.exe
!/sample/server/account/*.exe
!/sample/server/logger/*.exe
!/sample/server/core/*.exe
!/sample/gate/game/*.exe
!/sample/gate/role/*.exe
!/sample/gate/login/*.exe
!/sample/plugin/rank/*.exe

!/tool/exe4.exe
!/tool/innosetup-6.0.2.exe

/sample/jre

*.gz